@mixin articleGrid{

    @media (min-width: $L) {
        grid-template-columns: 46% 46%;
        grid-column-gap: 3%;
        justify-content: center;

    }
    @media (min-width: $XL) {
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 3%;
        justify-content: center;

    }
}

@mixin center {

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}