.content {
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr max-content;
    margin-top: 20vh;

    &__main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: reapeat(20, 1fr);

       @include articleGrid;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-prev {
            justify-self: start;
            grid-column: 1/2;
            margin-left: 3rem;
        }

        &-next {
            justify-self: end;
            grid-column: 2/3;
            margin-right: 3rem;
        }

        &>* {
            width: 8rem;
            height: 8rem;
            fill: grey;
            cursor: pointer;
        }

    }

}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__photo {
        width: 100%;

        &-img {
            width: 100%;
            max-height: 33vh;
            object-fit: cover;


            @media (min-width: $M) {
                min-height: 20rem;
                max-height: 40vh;
            }

            @media (min-width: $L) {
                height: 33vh;
            }

        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title {
        margin: 1rem 1rem;
        font-family: $font-one;
        text-align: center;

        &>h2 {
            font-size: 2rem;

        }
    }


    &__desc {
        margin: 0 4vw;
        text-align: center;
        font-family: $font-two;
        font-size: 1.8rem;
    }



    &__like {
        text-align: center;
        margin: 2rem 0rem;
        cursor: pointer;

        & :first-child {
            width: 6rem;
            height: 6rem;

        }

        &-btn {
            transition: 0.5s all ease;
            fill: gray;

        }
    }
}

.gold {
    transition: 0.5s all ease;
    fill: gold;
    animation: beat .25s 2 alternate;
    transform-origin: center;

}

@keyframes beat {
    to {
        transform: scale(0.9);
    }
}