header{
    grid-column: full-start/full-end;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.852);
    display: grid;
    grid-template-rows: 8rem min-content;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    transition: 1s all ease-in;

}

.logo{
     height: 100%;    
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.3s all ease-out;
     
    &__text{
        margin-top: -2rem;
        font-family: $font-logo;
        font-size: 3.5rem;
        letter-spacing: 1px;
        transform: rotate(-4deg);
        position: relative;
     
        
      

        &::after{
            content: '';
            position: absolute;
            width: 120%;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            height: 0.5rem;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
  
        }
    }
}

.search{
    height: 8vh;
    padding-bottom: 1rem;
    width: 75%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
    &__form{
        position: relative;
        &-field{
            height: 4rem;
            width: 100%;
            font-family: $font-one;
            font-size: 2rem;
            border-radius: 5px;
            padding: 0rem 4rem;
            outline: none;
            border:1px solid rgba(0, 0, 0, 0.377);
            text-align: center;

        }

        &-button{
            position: absolute;
            z-index: 5;
            top:0.8rem;
            right: 1rem;
            background-color: transparent;
            border:none;
            cursor: pointer;
           
            &-icon{
                width: 2.5rem;
                height: 2.5rem;
                
            }
        }
    }
}

.unvisible{
    opacity:0;
    height: 0;
    padding-bottom:0;

}

.progres-1{
    background-image: linear-gradient(to right, rgba(255, 217, 0, 0.445) 0%,rgba(255,255,255,0) 25%);
    transition: 1s all ease-in;
}
.progres-2{
    background-image: linear-gradient(to right, rgba(255, 217, 0, 0.445) 0%,rgba(255,255,255,0) 50%);
    transition: 0.3s all ease-in;
}
.progres-3{
    background-image: linear-gradient(to right, rgba(255, 217, 0, 0.445) 0%,rgba(255,255,255,0) 75%);
    transition: 0.3s all ease-in;
}
.progres-4{
    background-image: linear-gradient(to right, rgba(255, 217, 0, 0.445) 0%,rgba(255,255,255,0) 90%);
    transition: 0.3s all ease-in;
}
.progres-5{
    background-image: linear-gradient(to right, rgba(255, 217, 0, 0.575) 0%,rgba(255, 217, 0, 0.575) 100%);
    transition: 0.3s all ease-in;
}